*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}
.headDiv p{
  margin: 10px;
}